<div id="top"></div>
<div
  class="min-vh-100 d-flex align-items-center position-relative"
  id="banner"
>
  <div id="banner_" class="anchor"></div>
  <div class="banner-content">
    <h1 id="welcome">Hello</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="min-vh-100 position-relative" id="about_me">
  <div id="about_me_" class="anchor"></div>
  <h2>About Me</h2>
  <div class="about-content card p-5 shadow-lg">
    <p class='quote'><i class="fas fa-quote-left"></i>Wisdom is not a product of schooling but of the lifelong attempt to acquire it.<i class="fas fa-quote-right"></i></p>
    <p>- Albert Einstein</p>
    <br>
    <div class="my-info d-flex">
      <div class="about-text">
        <p>My name is Christian Bongard, I'm an ex-chemical engineer who finished Le Wagon bootcamp in 2021. I am a huge tech-enthusiast and this passion led me to further my knowledge in coding web applications. I graduated from Monash University in 2015 and then proceeded to work as a post-graduate researcher from 2016 until 2020.</p>

        <p>I thereafter left and started to look at other possible work opportunities. I started to learn some basic coding languages as a hobby and with the hopes of joining a tech company. I received the chance to hone my coding skills at Le Wagon in 2021 as I could apply all my past knowledge as well as what I learned from this amazing experience.</p>
        <p>As from now, I'm focussing on learning new coding languages and hone my skills. Please feel free to roam around my portfolio and chat with me if you wish.</p>
        <p>- Christian Bongard</p>
      </div>
      <%= render 'shared/about_carousel' %>
    </div>
  </div>
</div>

<div class="min-vh-100 position-relative" id="career">
  <div id="career_" class="anchor"></div>
  <h2>My Career & Education</h2>
  <%= render 'shared/timeline' %>
</div>

<div class="min-vh-100 position-relative" id="skills">
  <div id="skills_" class="anchor"></div>
  <h2>My skills</h2>
  <p>Throughout my several years of education and work, I have acquired quite a few set of skills that I can put into great use during the development of a project.</p>
  <br>
  <%= render 'shared/tech_skills' %>
  <%= render 'shared/soft_skills' %>

</div>
<div class="min-vh-100 position-relative" id="projects">
  <div id="projects_" class="anchor"></div>
  <div class="container">
    <h2 class="text-light">My projects</h2>
    <p class="text-light">Here is a list of my most recent projects. I will update this list periodically.</p>
    <!-- Accordion -->
    <%= render 'shared/accordion' %>
  </div>
</div>
<div class="min-vh-100 position-relative" id="contact">
  <div id="contact_" class="anchor"></div>
  <div class="contact-content">
    <h2>Contact me</h2>
    <div class="typed-content">
      <span id="contact-typed-text" style="white-space:pre;"></span>
    </div>
    <p>
    <%= link_to "https://github.com/cbongard90", target:"_blank" do%>
      <i class="fab fa-github-square contact-link"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/cbongard90/", target:"_blank" do%>
      <i class="fab fa-linkedin contact-link"></i>
    <% end %>
    <%= link_to "https://www.facebook.com/CBongard90/", target:"_blank" do %>
      <i class="fab fa-facebook-square contact-link"></i>
    <% end %>
    <%= link_to "	https://medium.com/@christianbongard", target:"_blank" do %>
      <i class="fab fa-medium contact-link"></i>
    <% end %>
    <%= link_to "https://www.freecodecamp.org/cbongard90", target:"_blank" do %>
      <i class="fab fa-free-code-camp contact-link"></i>
    <% end %>
    <%= link_to "https://codepen.io/cbongard90", target:"_blank" do %>
      <i class="fab fa-codepen contact-link"></i>
    <% end %>
    <%= link_to 'mailto:christian.bongard90@gmail.com', target:"_blank" do %>
      <i class="fas fa-envelope contact-link"></i>
    <% end %>
    </p>

    <br>
    <%= link_to 'Resume_Christian_Bongard.pdf', download: '' do %>
      <button class='btn btn-lg rounded-pill'><strong>Download my resume</strong> <i class="fas fa-file-download"></i></button>
    <% end %>
  </div>
</div>
