<div id="top"></div>
<div
  class="min-vh-100 d-flex align-items-center position-relative"
  id="banner"
>
  <div id="banner_" class="anchor"></div>
  <div class="banner-content">
    <h1 id="welcome">Hello</h1>
    <p>
      <span id="banner-typed-text"></span>
    </p>
  </div>
</div>

<div class="min-vh-100 position-relative" id="about_me">
  <div id="about_me_" class="anchor"></div>
  <h2>About Me</h2>
  <p>My name is Christian Bongard, I'm an ex-chemical engineer who finished Le Wagon bootcamp in 2021. I am a huge tech-enthusiast and this passion led me to further my knowledge in coding web applications.</p>
</div>

<div class="min-vh-100 position-relative" id="career">
  <div id="career_" class="anchor"></div>
  <h2>My Career</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod incidunt
    repudiandae nesciunt. Optio, dolores nesciunt molestias repellat placeat
    quo quos illum similique nemo, repudiandae quae error cumque accusantium
    assumenda. Quasi.
  </p>
</div>
<div class="min-vh-100 position-relative" id="education">
  <div id="education_" class="anchor"></div>
  <h2>My Education</h2>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam modi
    vitae rem cupiditate ab recusandae facere fugiat, est vel. Molestias
    illum fuga repellendus rem eum qui reprehenderit voluptatum, dolor
    eveniet, obcaecati architecto error debitis molestiae officia et libero
    blanditiis soluta facilis quia vel laborum neque natus? Quos vitae quod
    ea.
  </p>
</div>
<div class="min-vh-100 position-relative" id="skills">
  <div id="skills_" class="anchor"></div>
  <h2>My skills</h2>
  <p>Throughout my several years of education and work, I have acquired quite a few set of skills that I can put into great use during the development of a project.</p>
  <%= render 'shared/tech_skills' %>
  <%= render 'shared/soft_skills' %>

</div>
<div class="min-vh-100 position-relative" id="projects">
  <div id="projects_" class="anchor"></div>
  <div class="container">
    <h2 class="text-light">My projects</h2>
    <p class="text-light">Here is a list of my most recent projects. I will update this list periodically.</p>
    <!-- Accordion -->
    <%= render 'shared/accordion' %>
  </div>
</div>
<div class="min-vh-100 position-relative" id="contact">
  <div id="contact_" class="anchor"></div>
  <div class="contact-content">
    <h2>Contact me</h2>
    <div class="typed-content">
      <span id="contact-typed-text" style="white-space:pre;"></span>
    </div>
    <p>
    <%= link_to "https://github.com/cbongard90", target:"_blank" do%>
      <i class="fab fa-github-square"></i>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/cbongard90/", target:"_blank" do%>
      <i class="fab fa-linkedin"></i>
    <% end %>
    <%= link_to "https://www.facebook.com/CBongard90/", target:"_blank" do %>
      <i class="fab fa-facebook-square"></i>
    <% end %>
    <%= link_to "https://www.freecodecamp.org/cbongard90", target:"_blank" do %>
      <i class="fab fa-free-code-camp"></i>
    <% end %>
    <%= link_to "https://codepen.io/cbongard90", target:"_blank" do %>
      <i class="fab fa-codepen"></i>
    <% end %>
    <%= link_to '#' do %>
      <i class="fas fa-envelope"></i>
    <% end %>
    </p>
  </div>

</div>
